

  .pagi{ font-size: '1rem'; width: '2.0rem'; height: '2.0rem'; text-align: 'center' }

  .code-list {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between; /* 왼쪽 정렬 */
    align-items: center;
    margin-bottom: 10px;
  }
  
  .register-button {
    padding: 5px 5px;
    /* padding: 10px 20px; */
    font-size: 6px;
    border: 1px solid #ddd;
    
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  input[type="text"] {
    padding: 12px; /* 사이즈를 2배로 키움 */
    font-size: 16px;
    width: 300px; /* 사이즈 조정 */
  }
  
  /*
  button {
    padding: 8px 16px;
    font-size: 16px;
    margin-left: 10px;
  }
    */
  button {
    padding: 4px 7px;
    font-size: 16px;
    margin-left: 3px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    /* text-align: center; */
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  td {
    font-size: 16px; /* 버튼과 맞춤 */
  }
  

  
  .action-button {
    padding: 6px 12px; /* 수정/삭제 버튼 크기 맞춤 */
    font-size: 14px;
    margin: 0 5px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .pagination button {
    padding: 0.5px 7.5px; /* 버튼 사이즈 */
    margin: 0.3px;
  }
  
  .pagination .active {
    font-weight: bold;
    background-color: #ddd;
  }  

  .table {
    border-collapse: collapse; /* 테이블 경계선이 겹치지 않도록 설정 */
  }
  .table-td {
    border-bottom: 1px solid #ddd; /* 하단 경계선 */
    border-left: 1px solid #ddd;   /* 왼쪽 경계선 추가 */
    border-right: 1px solid #ddd;  /* 오른쪽 경계선 추가 */
    padding: 3px 5px 2px 5px;
    font-weight: normal;
    height: 23px;
  }

  .table-td .left {
    text-align: left !important;
  }

  .table-td-text-align-center {
    text-align: center;
  }
/* 테이블의 첫 번째 열에 대한 왼쪽 경계선 제거 */
.table tr td:first-child {
    border-left: none; /* 첫 번째 열에서는 왼쪽 경계선 제거 */
}

/* 테이블의 마지막 열에 대한 오른쪽 경계선 제거 */
.table tr td:last-child {
    border-right: none; /* 마지막 열에서는 오른쪽 경계선 제거 */
}

  .colorBlue {
    color: #2a62c5;
    font-size: 10px;
  }

  .fontSize13{
    font-size: 13px;
  }

  .onbid-item-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .onbid-item {
      padding: 10px 15px;
      border-bottom: 1px solid #ddd;
      cursor: pointer; /* 커서를 손 모양으로 변경 */
      transition: background-color 0.3s ease; /* 배경색 전환 효과 */
  }

  .onbid-item:hover {
      background-color: #fdfff7; /* 마우스 오버 시 배경색 */
  }


  /* 주소검색 모달창 CSS 끝 */
  .list-item {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    padding: 10px; /* 항목 간 간격 */
    border-bottom: 1px solid #ddd; /* 항목 구분선 */
  }
  
  .list-item-content {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    width: 100%; /* 전체 너비 사용 */
  }
  
  .list-item-content span {
    flex: 3; /* 가로 비율 2 */
  }
  
  .list-item-content button {
    flex: 1; /* 가로 비율 1 */
    margin: 0px; /* 버튼과 내용 사이 간격 */
    border: 0px solid #ffffff; /* 항목 구분선 */
  }